body {
  display: flex;
  justify-content: center;
}
form {
  margin: 150px 200px;
  width: 700px;
  padding: 10px;
  line-height: 2.2rem;
  border: 1px solid #ddd;
}
.text {
  margin-left: 12px;
  display: block;
  color: #999;
}
