.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.q {
  font-size: 25px;
}
.p1 {
  background: beige;
}
#a1 {
  background: grey;
  color: white;
}
#p2 {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  background: blanchedalmond;
  width: 80%;
  margin: 0 auto;
}
input[type="radio"]:checked {
  width: 20px;
  height: 20px;
}
#b1 {
  background-color: rgba(255, 0, 0, 0.445);
  color: white;
  height: 30px;
}
#b2 {
  background: rgba(0, 0, 255, 0.699);
  color: white;
}
#bao {
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 70%;
}
.w1 {
  font-size: 30px;
}
#name3,
#age {
  height: 25px;
}
#b1:hover {
  background-color: white;
  color: black;
}
#b2:hover {
  background-color: white;
  color: black;
}
