header {
  position: fixed;
  background-image: url(../../resources/bao.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  white-space: nowrap;
  line-height: 1.5;
  min-width: 200px;
  max-width: 300px;
}
.black-box {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
header h1 {
  align-self: center;
  margin-top: 30px;
  font-size: 50px;
  color: white;
  border-bottom: 2px solid white;
  z-index: 2;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  z-index: 2;
}
header nav a {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
}
section {
  padding-top: 20px;
  margin-left: 310px;
  display: flex;
  flex-direction: column;
}
section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap;
}
section img {
  align-self: center;
  width: 100%;
  max-width: 600px;
  background-size: cover;
  margin-bottom: 20px;
}
section p {
  line-height: 1.5;
}
